@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

 .home-page {
    overflow: hidden;
    min-height: 100vh;
    background: linear-gradient(90deg, #5de0e6, #004aad);
    padding: 20px;
  }

  
  .costura-creativa {
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    margin-top: 10%;
    margin-left: 10%;
  }
  
  .text-costura {
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: bold;
    color: #000000;
    font-size: 90px;
    margin-left: -1%;
  }
  
  .costura-creativa ul {
    margin-top: 2%;
    margin-left: 2%;
    list-style: none;
    padding: 0;
  }
  
  .costura-creativa li {
    font-size: 40px;
    margin-bottom: 10px;
    color: #4A4538;
    list-style-type: disc; 
    font-family: 'Roboto', sans-serif;
  }

  .parrafo{
    font-size: 70px;
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: bold;
    color: #000000;
  }
  
  .img-home{
    width: 38%;
    position: absolute;
    bottom: 34px;
    left: 78%; 
    transform: translateX(-50%); 
  } 

  /* WhatsApp */

.whatsapp-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #25D366;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
  background-color: #128C7E;
}

.whatsapp-button img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


  @media (max-width: 1503px) {
    .home-page {
      overflow: hidden;
      min-height: 90vh;
      padding: 20px;
      position: relative;
    }
    
    .costura-creativa {
      padding: 20px;
      border-radius: 10px;
      margin: 20px 0;
      margin-top: 5%;
      margin-left: 5%;
    }
    
    .text-costura {
      font-weight: bold;
      font-size: 72px;
    }
    
    .p-costura {
      font-size: 75px;
    }
    
    .costura-creativa ul {
      margin-top: 2%;
      margin-left: 2%;
      list-style: none;
      padding: 0;
    }
    
    .costura-creativa li {
      font-size: 30px;
      margin-bottom: 10px;
      list-style-type: disc; 
    }

    .parrafo{
      font-size: 45px;
    }
    
    .img-home {
      width: 40%;
      position: absolute;
      bottom: 27px;
      left: 80%; 
      transform: translateX(-50%); 
    }
  }

  @media (max-width: 1452px) {
    .home-page {
      overflow: hidden;
      min-height: 90vh;
      padding: 20px;
      position: relative;
    }
    
    .costura-creativa {
      padding: 20px;
      border-radius: 10px;
      margin: 20px 0;
      margin-top: 5%;
      margin-left: 5%;
    }
    
    .text-costura {
      font-weight: bold;
      font-size: 72px;
    }
    
    .p-costura {
      font-size: 75px;
    }
    
    .costura-creativa ul {
      margin-top: 2%;
      margin-left: 2%;
      list-style: none;
      padding: 0;
    }
    
    .costura-creativa li {
      font-size: 30px;
      margin-bottom: 10px;
      list-style-type: disc; 
    }

    .parrafo{
      font-size: 45px;
    }
    
    .img-home {
      width: 40%;
      position: absolute;
      bottom: 27px;
      left: 80%; 
      transform: translateX(-50%); 
    }
  }

  @media (max-width: 1274px) {
    .home-page {
      overflow: hidden;
      min-height: 90vh;
      padding: 20px;
      position: relative;
    }
    
    .costura-creativa {
      padding: 20px;
      border-radius: 10px;
      margin: 20px 0;
      margin-top: 10%;
      margin-left: 1%;
    }
    
    .text-costura {
      font-size: 72px;
    }
    
    .p-costura {
      font-size: 75px;
    }
    
    .costura-creativa ul {
      margin-top: 2%;
      margin-left: 2%;
      list-style: none;
      padding: 0;
    }
    
    .costura-creativa li {
      font-size: 30px;
      margin-bottom: 10px;
      list-style-type: disc; 
    }

    .parrafo{
      font-size: 45px;
    }
    
    .img-home {
      width: 45%;
      position: absolute;
      bottom: 50px;
      left: 80%; 
      transform: translateX(-50%); 
    }
  }
  

  @media (max-width: 1024px) {
    .home-page {
      overflow: hidden;
      min-height: 90vh;
      padding: 20px;
      position: relative;
    }
    
    .costura-creativa {
      padding: 20px;
      border-radius: 10px;
      margin: 20px 0;
      margin-top: 12%;
      margin-left: 1%;
    }
    
    .text-costura {
      font-size: 60px;
      margin-left: -1%;
    }
    
    .costura-creativa ul {
      margin-top: 2%;
      margin-left: 2%;
      list-style: none;
      padding: 0;
    }
    
    .costura-creativa li {
      font-size: 30px;
      margin-bottom: 10px;
      list-style-type: disc; 
    }
    .parrafo{
      font-size: 45px;
    }
    
    .img-home {
      width: 50%;
      position: absolute;
      top: 89px;
      left: 80%; 
      transform: translateX(-50%); 
    }
  }
  
  @media (max-width: 768px) {

    .home-page {
      padding: 10px;
    }

    .costura-creativa{
      margin-top: 5%;
      margin-left: 7%;
      display: flex;
      flex-direction: column;
    }

    .text-costura {
      font-size: 65px;
    }
  
    .costura-creativa li {
      font-size: 30px;
    }
  
    .parrafo {
      font-size: 60px;
    }

    .img-home {
      width: 65%;
      position: absolute;
      top: 45%;
      left: 50%; 
      transform: translateX(-50%); 
    }
  }

  @media (max-width: 500px) {
    .text-costura {
      margin-top: 15%;
      font-size: 40px;
      margin-left: -1%;
    }
  
    .costura-creativa li {
      font-size: 25px;
      margin-left: 5%;
    }
  
    .parrafo {
      font-size: 40px;
    }

    .img-home {
      width: 100%;
      position: absolute;
      top: 45%;
      left: 50%; 
      transform: translateX(-50%); 
    }
  }

  @media (max-width: 425px) {
    .text-costura {
      margin-top: 15%;
      font-size: 40px;
      margin-left: -1%;
    }

    .costura-creativa li {
      font-size: 25px;
      margin-left: 5%;
    }
  
    .parrafo {
      font-size: 39px;
    }

    .img-home {
      width: 110%;
      position: absolute;
      top: 42%;
      left: 50%; 
      transform: translateX(-50%); 
    }
  }

  @media (max-width: 375px) {
    .costura-creativa{
      margin-left: -1%;
    }
    .text-costura {
      margin-top: 12%;
      font-size: 35px;
      margin-left: -1%;
    }
    
    .costura-creativa li {
      font-size: 20px;
      margin-left: 5%;
    }
  
    .parrafo {
      font-size: 34px;
    }

    .img-home {
      width: 120%;
      position: absolute;
      top: 40%;
      left: 50%; 
      transform: translateX(-50%); 
    }
  
  }

  @media (max-width: 344px) {
    .text-costura {
      margin-top: 22%;
      font-size: 30px;
      margin-left: -2%;
    }
  
    .costura-creativa li {
      font-size: 22px;
    }
  
    .parrafo {
      font-size: 30px;
    }

    .img-home {
      width: 130%;
      position: absolute;
      top: 40%;
      left: 50%; 
      transform: translateX(-50%); 
    }
  
  }