.footer {
    border-top: 2px solid #000000;
    text-align: center;
  }
  
  .text-footer {
    margin-bottom: 20px;
  }
  
  .footer-social {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  .footer-icon {
    margin: 0 10px;
  }
  
  .footer-copyright {
    background: linear-gradient(90deg, #5de0e6, #004aad);
    padding: 10px;
  }
  
  .footer-copyright p {
    margin: 0;
    color: black;
    font-weight: bolder;
  }

  @media (max-width: 500px) {
    .text-footer{
      font-size: 25px;
    }
  }

  @media (max-width: 375px){
    .text-footer{
      font-size: 20px;
    }

    .footer-copyright p {
      font-size: 12px;
    }
  }